@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("https://cdn.mos.cms.futurecdn.net/6gqMc9p2TN2FQY8UJtXpfk-1200-80.jpg.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Toggler */
#chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background: #5350C4;
  color: white;
  cursor: pointer;
}

.chatbot-popup {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);
  transition: 0.2s;
}

body.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

/* Header */
.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #5350C4;
  color: white;
}

/* Body */
.chat-body {
  height: 460px;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Messages */
.message-text {
  padding: 12px;
  border-radius: 12px;
  background: #f2f2ff;
}

.user-message .message-text {
  background: #5350C4;
  color: white;
}

/* Footer */
.chat-footer {
  padding: 15px;
}

.message-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.chat-controls {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
